.container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;

}

.containerForm {
    margin-top: 100px;
    background: linear-gradient(to bottom, #e0e0e3);
    width: 97%;
    height: 80%;
    border-radius: 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;

}

.containerinput {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 20px;
}

.containerinput label {
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 800;
    color: rgb(36, 35, 35);
}

.input {
    border-radius: 7px;
    border: .3px solid #c94553;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 30px;
    margin: 5px;
    padding-left: 10px;
    font-family: Helvetica;
    background: linear-gradient(to bottom, #ede8e9, #efe5e5);


}

.textTarea {
    border-radius: 7px;
    border: .3px solid #c94553;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    width: 95%;
    height: 290px;
    margin-top: 10px;
    padding-left: 10px;
    padding: 10px;
    font-family: Helvetica;
    background: linear-gradient(to bottom, #ede8e9, #efe5e5);
}

.container button {
    height: 40px;
    border: none;
    border-radius: 10px;
    width: 140px;
    background-color:#111666;
    color:white;
    margin: 10px;
    margin-left: 40px;
}

.container button:hover {
    background-color: #c94553;
    scale: 1.1;
    transition: .3s;
}