.container img {
    width: 120px;
    height: 70px;
    margin-right: 40px;

}

.container {
    padding: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: linear-gradient(to bottom, #af3c47, #c94553);
    height: 70px;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
}


.title {
    color: #111666;
    margin-bottom: -10px;
    font-family: Helvetica;
    font-weight: 900px;

}

.containerTitle {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    font-size: 1.2vw;

}


.containerTitle p {
    color: #e3dddd;
    font-weight: 700;
    font-size: 0.8vw;
}

.scriptDetails {
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}

.titleDetails {
    width: 100%;
    background-color: #111666;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.searchScript {
    width: 60%;
    height: 40px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 34px;

}

.searchContainer {
    width: 600px;
    text-align: center;
    align-items: center;
    display: flex;
}

.buttonSearch {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #111666;
    margin-left: 24px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);


}

.buttonSearch:hover {
    scale: 1.05;
    transition: 0.2s;
    background-color: #0c1046;
}

.buttonSearch:disabled {
    opacity: .4;
}

.buttonSearch:disabled:hover {
    scale: 1;
    background-color: #111666;
}
.buttonAll{
    border: none;
    width: 90px;
    height: 50px;
    border-radius: 20px;
    background-color: #111666;
    margin-left: 5px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);
    color: #e3dddd;
}
.buttonAll:disabled{
 opacity: 0;
}

.buttonCreate {
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 50px;
    margin-right: 40px;
    background-color: #111666;
    color: antiquewhite;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);

}

.buttonCreate:hover {
    scale: 1.05;
    transition: 0.2s;
    background-color: #0c1046;

}